@charset "utf-8";
@import "normalize";

$main-light-colour: #EDE2D7;
$main-dark-colour: #1B150D;

body {
  background: $main-light-colour;
  color: $main-dark-colour;
  text-align: center;
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  font-size: 1em;
}
