@charset 'utf-8';
@import 'normalize';
@import 'variables';
@import 'header';

html {
  max-width: 800px;
  margin: 0 auto;
}

body {
  background: $main-light-colour;
  color: $main-dark-colour;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
  font-size: 1.2em;
  margin: 0 0 20px 0;

  @media screen and (min-width: $mid-size) {
    margin: 20px 0 20px 0;
  }
}

nav {
  text-align: center;
  font-size: 1.1em;

  ul {
    margin: 20px 0 40px 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

#main {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 5px solid $main-dark-colour;

  #article__heading {
    margin: 20px 0 10px 0;
  }
}

article, aside {
  padding: 0 20px 0 20px;

  @media screen and (min-width: $mid-size) {
    padding: 0;
  }
}

aside {
  h2 {
    margin: 10px 0 10px 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

a {
  color: $main-dark-colour;
  text-decoration: none;
  border-bottom: 1px solid $main-dark-colour;

  &:focus, &:hover, &:active {
    border-bottom: 3px solid $main-dark-colour;
  }
}

footer {
  margin: 20px 0 20px 0;
  padding: 20px 20px 0 20px;
  text-align: center;
  font-size: 0.9em;
  border-top: 5px solid $main-dark-colour;

  @media screen and (min-width: $mid-size) {
    padding: 20px 0 0 0;
  }
}
