---
title: everythingisawful.club
---

<header>
  <h1>
    <div id='header__align-left'>
      everything<br>
      is<br>
      awful<br>
    </div>
    <div id='header__align-right'>.club</div>
  </h1>
</header>
